/* -------------
 * Frame
 * ------------- */
.head {}
.head a{color: #fff;text-decoration: none;}

/* -------------
 * Form
 * ------------- */
.input-table{}
.input-table td{padding: 3px;padding-top: 8px;padding-bottom: 8px;}
.input-table th{padding: 3px;padding-top: 8px;padding-bottom: 8px;padding-left: 10px;text-align: right;font-weight: normal;}
input{
	vertical-align: middle;
}
.input-text{
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size:12px;
	vertical-align:middle;
	width: 99%;
}
.input-text:focus{
	width: 99%;
	border: 1px solid #666;
	background: #F5F5F5;
}

.input-textarea {
	border: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 5px;
	font-size:12px;
	padding-right: 0px;
}
.input-textarea:focus{
	width: 100%;
	border: 1px solid #666;
	background: #F5F5F5;
}
select{
	border: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 101%;
	vertical-align:middle;
	
}
.remark{
	color: #aaa;
	line-height: 22px;
}
.require{
	color: red;
}

fieldset{
	border:0.5px dashed #ccc ;
	margin-bottom: 10px;
}
legend {
	border:0px;
	background:white;
}
/* -------------
 * Validator
 * ------------- */
.validator-checktip{margin-left:0;padding-left:20px;background: url("../common/images/icon/error.png") no-repeat;}
.validator-info{
	border:1px solid #ccc; 
	padding:2px 20px 2px 5px; 
	color:#666; 
	position:absolute;
	display:none;
	line-height:20px;
	background-color:#fff;
}
.validator-dec {
	top: -8px;
   
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    width: 17px;
}
.validator-dec s {
    font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    
    width: 17px;
}
.validator-dec .dec1 {
    color: #ccc;
    top: -1px;
}
.validator-dec .dec2 {
    color: #fff;
    
}

.listtable{}
.listtable tr {
	border-bottom: #ccc dotted 1px;
	height: 25px;
	line-height: 26px;
	display: block;
	padding: 0 0 0 10px;
	
	margin: 0 1%;
	float:left;
	width:97%;
}
.listtable tr td{
	padding-bottom: 8px;
}
.listtable tr td a{ color:#4897F1; text-decoration:none;}
.listtable tr td a:hover{ color:red; text-decoration:underline;cursor: pointer;}

